.crediteur{
    border-collapse: separate;
    border-spacing: 10px;
}

.crediteur th{
    width: auto;
    border-bottom: 3px solid #eae9ec;
    box-shadow: 0px 2px 0px 0px #9a9996 ;

}

.crediteur td{
    border-bottom: 1px solid #eae9ec;
    top: 3px;
    font-size: 17px;
    
}




.crediteur td button{
    width: 80%;
    height: 80%;
    background-color: #ffff;
    
}


.crediteur td button a{
    color: cyan;
}

