/**
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    scroll-behavior: smooth;
}

body {
    background: url("/assets/img/pexels-kampus-production-5940827.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    border-top-left-radius: 100%;
    color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}


/*--------------------------------------------------------------
  # Login
  --------------------------------------------------------------*/

.form-control {
    margin-top: 1px;
    padding: 10px;
}

#login,
#register {
    background-color: #15a2ac;
    border-radius: 9999px;
    border: none;
    font-size: 19px;
    font-weight: 100;
}


/*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/

#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}


/* Light Backgrounds */

.bg-primary-light {
    background-color: #cfe2ff;
    border-color: #cfe2ff;
}

.bg-secondary-light {
    background-color: #e2e3e5;
    border-color: #e2e3e5;
}

.bg-success-light {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
}

.bg-danger-light {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.bg-warning-light {
    background-color: #fff3cd;
    border-color: #fff3cd;
}

.bg-info-light {
    background-color: #cff4fc;
    border-color: #cff4fc;
}

.bg-dark-light {
    background-color: #d3d3d4;
    border-color: #d3d3d4;
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

.logo {
    line-height: 1;
    text-decoration: none;
    margin-left: 10px;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 35px;
    margin-right: 6px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    font-family: "Nunito", sans-serif;
}


/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/

.header-nav ul {
    list-style: none;
}

.header-nav>ul {
    margin: 0;
    padding: 0;
}

.header-nav .nav-icon {
    font-size: 20px;
    color: #fff;
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 10px 0 20px;
    margin-right: 20px;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 90%;
    background: #f3f3f3;
    z-index: 0;
}

.progress {
    background-color: #19B5FE;
    width: 0%;
    transition: 0.3s;
}

.progress-step {
    width: 50px;
    height: 50px;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 12px;
    color: #0b0b0b;
}

.progress-step-active {
    background-color: #19B5FE;
    color: #f3f3f3;
    font-size: 12px;
    font-weight: bold;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}